.header {
  background: $dark-blue;
}

.header__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: $s-size 0;
}

.header__title {
  color: white;
  text-decoration: none;
  h1 {
    margin: 0;
  }
}

.header__filters {
  margin-top: $m-size;
  margin-bottom: $m-size;
  display: flex;
  height: 50px;
  justify-content: space-between;
  .button {
    line-height: unset;
  }
}
